@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@mixin raleWay($weight) {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@mixin openSans($weight) {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

$colors: (
  // * backgrounds
  bg-main: hsl(218, 28%, 13%),
  bg-intro-email: hsl(217, 28%, 15%),
  bg-footer: hsl(216, 53%, 9%),
  bg-testimonials: hsl(219, 30%, 18%),
  // * accent
  error: hsl(0, 100%, 63%),
  cyan: hsl(176, 68%, 64%),
  blue: hsl(198, 60%, 50%)
);

body {
  position: relative;
  font-size: 14px;
  background: map-get($colors, bg-main);
  color: white;
  @include raleWay(400);
  margin: 0;
}

#root {
  max-width: 1440px;
  margin: auto;
}

main {
  display: grid;
  place-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 2rem;
}

span {
  line-height: 1.5;
}

.navbar {
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(1rem);
  background: map-get($colors, bg-main);
  padding: 2rem;

  .logo-container {
    img {
      max-width: 176px;
      width: 100%;
      min-width: 2rem;
    }
  }

  ul {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: flex-end;
    gap: 2rem;

    li {
      list-style: none;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.hero {
  display: grid;
  place-items: center;
  max-width: 720px;
  text-align: center;
  margin-inline: auto;

  img {
    max-width: 534px;
    width: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  span {
    font-size: 16px;
    margin-inline: 8rem;
  }

  button {
    background: linear-gradient(90deg, map-get($colors, cyan), map-get($colors, blue));
    color: white;
    padding: 1rem 5rem;
    border: none;
    border-radius: 10rem;
    margin-block: 2rem;
    cursor: pointer;
  }
}

.feature-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: auto;
  gap: 4rem;
  max-width: 60rem;

  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: auto;
  }

  .feature {
    display: grid;
    grid-column: auto;
    max-width: 375px;
    text-align: center;
    justify-items: center;

    picture {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      height: 4rem;

      img {
        width: 3.5rem;
      }
    }

    .feature-info {
      display: grid;
      grid-row: auto;
      gap: 14px;

      .title {
        font-size: 16px;
        font-weight: bold;
      }

      .description {
        @include openSans(400);
      }
    }
  }
}

.see-how-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30rem;
    align-items: flex-start;
    align-content: flex-start;

    span {
      display: block;
    }

    span:not(:first-of-type),
    a {
      margin-top: 1rem;
    }

    .title {
      font-size: 2rem;
      font-weight: 500;
      width: 20rem;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: map-get($colors, cyan);
      border-bottom: 1px solid map-get($colors, cyan);

      img {
        margin-left: 0.25rem;
      }
    }
  }
}

.reviews-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  position: relative;

  &::before {
    content: url("./assets/bg-quotes.png");
    position: absolute;
    top: -2rem;
    left: -0.75rem;
    font-size: 2rem;
    color: white;
    z-index: -10;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    gap: 2rem;
    border-radius: 0.25rem;
    background: map-get($colors, bg-testimonials);
    padding: 2rem 1.5rem;
    @include openSans(400);

    .user-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 100dvw;
      }

      div {
        display: flex;
        flex-direction: column;

        .user {
          font-weight: bold;
        }

        .role {
          font-size: 12px;
        }
      }
    }
  }
}
