@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@mixin raleWay($weight) {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@mixin openSans($weight) {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

$colors: (
  // * backgrounds
  bg-main: hsl(218, 28%, 13%),
  bg-intro-email: hsl(217, 28%, 15%),
  bg-footer: hsl(216, 53%, 9%),
  bg-testimonials: hsl(219, 30%, 18%),
  // * accent
  error: hsl(0, 100%, 63%),
  cyan: hsl(176, 68%, 64%),
  blue: hsl(198, 60%, 50%)
);

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 14px;
  background: inherit;
  color: white;
  @include openSans(400);
  background: map-get($colors, bg-intro-email);
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  &-track {
    background: map-get($colors, bg-testimonials);
  }
}

::-webkit-scrollbar-thumb {
  background: map-get($colors, blue);
  border-radius: 1rem;
  &:hover {
    background: map-get($colors, cyan);
  }
}

// .bg-wavy {
//   background: url("./assets/bg-curvy-desktop.svg");
//   background-repeat: no-repeat;
//   background-position: center;
//   display: grid;
//   place-items: center;
//   height: fit-content;
// }

section,
footer {
  max-width: 1440px;
  z-index: 10;
}

span {
  line-height: 1.5;
}

.navbar {
  position: sticky;
  inset: 0;
  width: 100%;
  backdrop-filter: blur(1rem);
  z-index: 100;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 5rem;

    @media screen and (max-width: 376px) {
      padding: 1rem;
    }

    .logo-container {
      img {
        max-width: 176px;
        width: 100%;
        min-width: 2rem;
      }
    }

    ul {
      display: flex;
      gap: 2rem;
      width: 100%;
      justify-content: flex-end;
      gap: 4rem;

      @media screen and (max-width: 376px) {
        gap: 1rem;
      }

      li {
        list-style: none;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.hero {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  text-align: center;
  margin-inline: auto;
  padding-bottom: 12rem;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    background: url("./assets/bg-curvy-desktop.svg");
    inset: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: -10;

    @media screen and (max-width: 376px) {
      content: "";
      position: absolute;
      background: url("./assets/bg-curvy-mobile.svg");
      inset: 0;
      background-position: bottom center;
      background-repeat: no-repeat;
      z-index: -10;
    }
  }

  img {
    max-width: 45rem;
    width: 100%;
  }

  h1 {
    font-size: 2.5rem;
    max-width: 45rem;

    @media screen and (max-width: 768px) {
      width: 25rem;
      font-size: 2rem;
    }
  }

  span {
    max-width: 38rem;
    font-size: 1.25rem;
    margin-inline: 8rem;

    @media screen and (max-width: 376px) {
      margin-inline: 2rem;
    }
  }

  .btn {
    font-size: 1rem;
    padding-inline: 6rem;
  }
}

.see-how-section,
.reviews-section,
.get-started,
footer {
  background: map-get($colors, bg-main);
}

.feature-section {
  min-width: 100%;
  position: relative;
  scroll-margin: 14rem;

  .feature-wrapper {
    max-width: 1440px;
    margin: auto;
    background: map-get($colors, bg-main);

    .feature-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      place-items: center;
      gap: 4rem;
      max-width: 1440px;
      width: 60rem;
      margin: auto;

      @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
      }
    }

    .feature {
      display: grid;
      grid-column: auto;
      max-width: 375px;
      text-align: center;
      justify-items: center;

      picture {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height: 7rem;
        width: 100%;

        img {
          width: 5rem;
        }
      }

      .feature-info {
        display: grid;
        grid-row: auto;
        gap: 14px;

        .title {
          font-size: 1.25rem;
          font-weight: bold;
          margin-top: 1rem;
        }
      }
    }
  }
}

.see-how-section {
  width: 100%;
  margin: auto;

  .see-how-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    max-width: 1440px;
    background: map-get($colors, bg-main);

    @media screen and (max-width: 768px) {
      grid-template-columns: auto;
    }

    picture {
      img {
        width: 100%;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 30rem;
      align-items: flex-start;
      align-content: flex-start;

      & > * {
        display: block;
      }

      span:not(:first-of-type),
      a {
        margin-top: 1rem;
      }

      .title {
        font-size: 2rem;
        font-weight: 500;
        width: 20rem;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: map-get($colors, cyan);
        border-bottom: 1px solid map-get($colors, cyan);
        line-height: 1.5;

        svg {
          margin-left: 0.25rem;
        }

        &:hover {
          color: white;
          border-color: white;

          svg {
            use {
              fill: white;
            }
          }
        }

        img {
          margin-left: 0.25rem;
        }
      }
    }
  }
}

.reviews-section {
  min-width: 100%;
  background: map-get($colors, bg-intro-email);

  .reviews-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background: map-get($colors, bg-main);
    margin: auto;

    @media screen and (max-width: 768px) {
      grid-template-columns: auto;
    }

    &::before {
      content: url("./assets/bg-quotes.png");
      position: absolute;
      top: -2rem;
      left: -0.75rem;
      font-size: 2rem;
      color: white;
      z-index: 0;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    gap: 2rem;
    border-radius: 0.25rem;
    background: map-get($colors, bg-testimonials);
    padding: 2rem 1.5rem;

    .user-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      letter-spacing: 1px;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 100dvw;
      }

      div {
        display: flex;
        flex-direction: column;

        .user {
          font-weight: bold;
        }

        .role {
          font-size: 12px;
        }
      }
    }
  }
}

.get-started {
  min-width: 100%;

  .get-started-wrapper {
    display: flex;
    flex-direction: column;
    background: map-get($colors, bg-intro-email);
    border-radius: 0.25rem;
    padding: 2rem;
    width: 50%;
    box-shadow: 0 0 1rem #00000025;
    margin: auto;

    .title {
      font-size: 2rem;
      font-weight: bold;
    }

    .title,
    p {
      text-align: center;
    }

    .sign-up {
      display: flex;
      flex-direction: column;
      padding-inline: 2rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: fit-content;

        @media screen and (max-width: 768px) {
          flex-direction: column ;
        }

        button {
          margin: 0;
        }

        input,
        button {
          border-radius: 100dvw;
          padding: 0.5rem 1.5rem;
          font-size: 14px;

          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }

        input {
          flex: 1;
        }
      }

      .errors {
        margin-left: 26px;
        font-size: 10px;
        color: map-get($colors, error);
        font-weight: bold;
      }
    }
  }
}

footer {
  $footer-gap: 1rem;

  min-width: 100%;

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1440px;
    margin: auto;
  }

  .contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .location {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: $footer-gap;

      span {
        width: 18rem;
      }
    }

    .contact-methods {
      display: flex;
      flex-direction: column;
      gap: $footer-gap;

      .contact-method {
        display: flex;
        gap: $footer-gap;
      }
    }

    .about-us {
      @media screen and (max-width: 768px) {
        margin-top: 4rem;

        ul {
          padding-left: 0;
        }
      }
    }

    .legal {
      @media screen and (max-width: 768px) {
        margin-top: 2rem;

        ul {
          padding-left: 0;
        }
      }
    }

    ul {
      li {
        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  div {
    ul {
      display: flex;
      flex-direction: column;
      gap: $footer-gap;
      margin-top: 0;

      li {
        list-style: none;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .social {
    display: flex;
    height: fit-content;
    gap: $footer-gap;
    margin-bottom: auto;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border-radius: 100dvw;
      padding: 6px;

      &:hover {
        border-color: map-get($colors, cyan);

        svg {
          fill: map-get($colors, cyan);
        }
      }

      svg {
        $size: 1.25rem;
        fill: white;
        width: $size;
        height: $size;
      }
    }
  }
}

.heading-bold {
  @include raleWay(700);
}

.heading-normal {
  @include raleWay(400);
}

.btn {
  background: linear-gradient(90deg, map-get($colors, cyan), map-get($colors, blue));
  color: white;
  padding: 1rem 5rem;
  border: none;
  border-radius: 10rem;
  margin-block: 2rem;
  cursor: pointer;

  &:active {
    background: map-get($colors, cyan);
  }
}

img {
  max-width: 20rem;
  width: 100%;
}
